<div class="container-fluid p-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25">新規商品登録</div>
  </div>
<%= form_with model: @item, url: admin_items_path do |f| %>
   <div class="row justify-content-center mb-3">
    <label class="col-sm-2">商品画像</label>
    <div class="col-sm-3"><%= f.file_field :image_id, accept: "image/*" %></div>
  </div>
  <div class="row justify-content-center mb-3">
    <label class="col-sm-2">商品名</label>
    <div class="col-sm-3 pr-0"><%= f.text_field :name, placeholder: "商品名", class: "w-100" %></div>
  </div>
  <div class="row justify-content-center mb-3">
    <label class="col-sm-2 align-self-center">商品説明</label>
    <div class="col-sm-3 pr-0"><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "w-100" %></div>
  </div>
  <div class="row justify-content-center mb-3">
    <label class="col-sm-2">ジャンル</label>
    <div class="col-sm-3 pr-0"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--", class: "w-100" %></div>
  </div>
  <div class="row justify-content-center mb-3">
    <label class="col-sm-2 ml-5">税抜価格</label>
    <div class="col-sm-3 pr-0"><%= f.text_field :price, placeholder: "1000", class: "w-100" %></div>
    <div class="col-auto nogutters">円</div>
  </div>
  <div class="row justify-content-center mb-3">
    <label class="col-sm-2">販売ステータス</label>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-auto">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", value: true %>
          </div>
          <div class="col-auto">
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", value: false %>
          </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
  <% end %>
</div>
