<div class="container py-5">
  <div class="row">
    <div class="col-sm-3 mb-5">
    <%= render 'public/items/genre', genres: @genres %>
    </div>


    <div class="col-sm-auto ml-3 col-11">
      <div class="row p-5" style="background-image:url(<%= asset_path "naganocake_top.jpg" %>); background-size:cover; background-position:center" >
        <div class="col-sm-8 offset-sm-3 py-4 my-5 pl-4" style="background-color:rgba(255,255,255,0.75)">
          <p>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>


      <h3 class="my-4">新着商品</h3>
      <div class="row">
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), class: "text-dark" do %>
            <div class="col mr-2">
              <div class="row"><%= image_tag item.get_image_id, size: "200x130", style: "object-fit:cover" %></div>
              <div class="row mt-2"><%= item.name %></div>
              <div class="row">￥<%= item.price.to_s(:delimited) %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-auto ml-auto"><%= link_to "全ての商品を見る >", items_path %></div>
      </div>
    </div>
  </div>
</div>