<div class="container-fluid p-5 mb-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</div>
  </div>
  <div class="row">
    <%= form_with model: @customer, url: admin_customer_path(@customer.id), class: "w-100" do |f| %>
    <table class="table table-borderless col-sm-7 offset-sm-2">
      <tr>
        <td style="width:25%">会員ID</td>
        <td style="width:75%"><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name, class: "mr-5" %> <%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_kana, class: "mr-5" %> <%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "有効", value: true, class: "mr-3" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "退会", value: false %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "変更を保存", class: "btn btn-success mt-2" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>