<div class="container-fluid p-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25">会員一覧</div>
  </div>
  <div clas="row">
    <table class="table col-sm-7 mx-auto">
      <tr>
        <thead class="thead-light">
          <th style="width:15%">会員ID</th>
          <th style="width:30%">氏名</th>
          <th style="width:40%">メールアドレス</th>
          <th style="width:15%">ステータス</th>
        </thead>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <tbody>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer.id), class: "text-dark", style: "text-decoration: underline" do %>
              <%= customer.last_name %><%= customer.first_name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <% if customer.is_active==true %>
            <td class="text-success font-weight-bold">有効</td>
          <% else %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% end %>
        </tbody>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="row justify-content-center"><%= paginate @customers %></div>
</div>