<div class="container-fluid p-5 mb-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</div>
  </div>
  <div class="row">
    <table class="table table-borderless col-sm-7 offset-sm-2">
      <tr>
        <td style="width:25%">会員ID</td>
        <td style="width:75%"><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <% if @customer.is_active==true %>
          <td class="text-success font-weight-bold">有効</td>
        <% else %>
          <td class="text-secondary font-weight-bold">退会</td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="row ml-5">
    <div class="col-auto offset-sm-3 pl-5 mr-5"><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %></div>
    <div class="col-auto"><%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %></div>
  </div>
</div>