<div class="container-fluid p-5 mb-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25">ジャンル一覧・追加</div>
  </div>
  <%= form_with model: @genre, url: admin_genres_path, class: "ml-5" do |f| %>
  <div class="row ml-5 mt-4 mb-5 align-items-center">
    <div class="col-sm-auto"><%= f.label "ジャンル名" %></div>
    <div class="col-sm-3"><%= f.text_field :name, placeholder: "ジャンル名", class: "w-100" %></div>
    <div class="col-sm-2"><%= f.submit "新規登録", class: "btn btn-success" %></div>
  </div>
  <% end %>
  <div class="row mb-5">
    <div class="col-sm-4 col-11 offset-sm-1">
      <table class="table">
        <tr>
          <thead class="thead-light">
            <th style="width:70%">ジャンル</th>
            <th style="width:30%"></th>
          </thead>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <tbody>
            <td class="align-middle"><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm" %></td>
          </tbody>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
