<h1>商品一覧</h1>
<p>(全<%= Item.all.count %>件)</p>

<div class="row">
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <div class="col">
      <div class="row"><%= image_tag item.get_image_id, size: "200x120" %></div>
      <div class="row"><%= item.name %></div>
      <div class="row"><%= item.price.to_s(:delimited) %></div>
    </div>
  <% end %>
<% end %>
</div>
<div class="row"><%= paginate @items %></div>
